nav {
    padding-top: calc(var(--default-spacing)*2);
    padding-bottom: calc(var(--default-spacing)*2);
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;

}

nav ul li {
    padding: 0 calc(var(--default-spacing)*2);
}

nav svg {
    fill: var(--color-text);
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 100%;
    bottom: 0;
    z-index: 999;
    display: none;
    flex-direction: column;
    width: 100%;
    transition: left ease-in-out var(--def-transition-duration);
}

.sidebar-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: start;
    flex-wrap: wrap;
    width: 100%;
    margin: calc(var(--default-spacing)*2);
    background: var(--color-bg);
    padding: calc(var(--default-spacing)*2);
    box-shadow: 0 0 50px var(--color-text-80);
}

.sidebar ul {
    flex-direction: column;
    overflow: visible;
    list-style: none;
}

.sidebar li {
    padding: var(--default-spacing) 0;
}

.sidebar li a {
    display: flex;
}

.sidebar li a:before {
    display: none;
}

.menu-button {
    display: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .sidebar {
        display: flex;
    }

    .menu-button {
        display: block;
    }

    .hide-on-mobile {
        display: none;
    }
}