* {
    --text-carousel-gab: 30px;
}

.slide-text-container {
    color: inherit;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--text-carousel-gab);

    padding: var(--text-carousel-gab) calc(var(--text-carousel-gab)*3);
    width: var(--carousel-width);
    height: var(--carousel-height);
    overflow: hidden;
}

.about-text-container {
    position: relative;
    border-radius: var(--carousel-radius);
    border: 1px solid var(--profile-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--text-carousel-gab);

    padding: var(--text-carousel-gab);
    width: var(--carousel-width);
    height: var(--carousel-height);
    overflow: hidden;
}

.card-container {
    position: relative;
    border-radius: var(--carousel-radius);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--text-carousel-gab);

    padding: var(--text-carousel-gab);
    width: var(--carousel-width);
    min-height: var(--carousel-height);
    overflow: hidden;
}

.image-container {
    width: var(--carousel-width);
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
}

.project-full {
    width: 100%;
    background-color: inherit;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

@media (max-width: 800px) {
    * {
        --text-carousel-gab: 20px;
    }
}