  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* --shadow-color: rgba(214, 214, 214, 0.3); */
    --profile-color: rgb(240, 240, 240);
    --gray-color: #636363;

    --text-black-color: black;
    --text-gray-color: #636363;

    --hover-color: #ffffff20;
    --btn-next-color: rgba(255, 255, 255, 0.5);

    --default-radius: 10px;
    --default-gap: 50px;
  }

  html {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    max-width: 100%;
  }

  body {
    position: relative;
    min-height: 100vh;
    min-height: 100dvh;
    width: 100%;
    max-width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  .page {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    align-items: start;
    flex: 1;
    gap: var(--default-gap);
  }

  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--default-gap);
  }

  a {
    all: unset;
    cursor: pointer;
  }

  .weblink {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .msharp-logo {
    position: fixed;
    z-index: 999;
    top: 0px;
    left: -8px;
    view-transition-name: transition-msharp-logo;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-image: url("../images/msharp-logo-transparent10.png");
    background-repeat: repeat-x;
    background-size: 200px;
    width: 100%;
    /* max-width: 1440px; */
    height: 80px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
  }

  .note {
    font-size: 12px;
  }

  @media (max-width: 719px) {
    * {
      --default-gap: 20px;
    }

    h1 {
      font-size: 1.5rem;
    }

    h2 {
      font-size: 1.2rem;
    }

    h3 {
      font-size: 1rem;
    }

    h3 {
      font-size: .9rem;
    }
  }

  @media (max-width: 519px) {
    p {
      font-size: .9rem;
    }
  }

  @view-transition {
    navigation: auto;
  }

  #project-img1 {
    view-transition-name: transition-project-img1;
  }

  #project-img2 {
    view-transition-name: transition-project-img2;
  }

  #project-img3 {
    view-transition-name: transition-project-img3;
  }

  #project-img4 {
    view-transition-name: transition-project-img4;
  }

  #project-img5 {
    view-transition-name: transition-project-img5;
  }

  #project-img6 {
    view-transition-name: transition-project-img6;
  }

  #project-img7 {
    view-transition-name: transition-project-img7;
  }

  #project-img8 {
    view-transition-name: transition-project-img8;
  }

  #project-title1 {
    view-transition-name: transition-project-title1;
  }

  #project-title2 {
    view-transition-name: transition-project-title2;
  }

  #project-title3 {
    view-transition-name: transition-project-title3;
  }

  #project-title4 {
    view-transition-name: transition-project-title4;
  }

  #project-title5 {
    view-transition-name: transition-project-title5;
  }

  #project-title6 {
    view-transition-name: transition-project-title6;
  }

  #project-title7 {
    view-transition-name: transition-project-title7;
  }

  #project-title8 {
    view-transition-name: transition-project-title8;
  }

    #project-bg1 {
    view-transition-name: transition-project-bg1;
  }
    #project-bg2 {
    view-transition-name: transition-project-bg2;
  }
    #project-bg3 {
    view-transition-name: transition-project-bg3;
  }
    #project-bg4 {
    view-transition-name: transition-project-bg4;
  }
    #project-bg5 {
    view-transition-name: transition-project-bg5;
  }
    #project-bg6 {
    view-transition-name: transition-project-bg6;
  }
    #project-bg7 {
    view-transition-name: transition-project-bg7;
  }
    #project-bg8 {
    view-transition-name: transition-project-bg8;
  }

  ::view-transition-group(*) {
    animation-duration: 0.5s;
  }

  ::view-transition-group(transition-msharp-logo),
  ::view-transition-group(transition-project-img1),
  ::view-transition-group(transition-project-img2),
  ::view-transition-group(transition-project-img3),
  ::view-transition-group(transition-project-img4),
  ::view-transition-group(transition-project-img5),
  ::view-transition-group(transition-project-img6),
  ::view-transition-group(transition-project-img7),
  ::view-transition-group(transition-project-img8),
  ::view-transition-group(transition-project-title1),
  ::view-transition-group(transition-project-title2),
  ::view-transition-group(transition-project-title3),
  ::view-transition-group(transition-project-title4),
  ::view-transition-group(transition-project-title5),
  ::view-transition-group(transition-project-title6),
  ::view-transition-group(transition-project-title7),
  ::view-transition-group(transition-project-title8) {
    z-index: 999;
  }