a {
    position: relative;
    padding: 3px 0;
    color: var(--color-text);
    fill: var(--color-text);
    cursor: pointer;
}

button {
    position: relative;
    color: var(--color-text);
    fill: var(--color-text);
    cursor: pointer;
    padding: var(--default-spacing);
    border: none;
}

.button-like {
    background-color: transparent;
    padding: calc(var(--default-spacing)/2);
}

a:hover,
button:hover {
    color: var(--color-text);
    fill: var(--color-text);
}

a::before,
button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
   /*  background: var(--color-text-40); */
    background-image: url(images/web/icon-msharp-5.svg);
    background-repeat: repeat-x;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform var(--def-link-duration) ease-in-out;
}

a:hover::before,
button:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

nav ul li a,
.sidebar li a {
    color: var(--color-text);
    font-weight: bold;
    text-transform: uppercase;
}

.item-link {
    font-size: clamp(1.1rem, 5vw, 1.5rem);
    font-weight: bold;
    
}
.main-content a::after,
footer a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--color-text-40);
    bottom: 2px;
    left: 0;
}


.img-close-button {
    align-self: flex-end;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

@media (max-width: 768px) {

}